<div class="input">
  <!-- Info / Tooltip -->
  <!-- TODO: Polymorphic? -->
  <p>{{field.type}}</p>

  <label
    *ngIf="field.type !== 'section' && field.type !== 'step'"
    for="field.id">
    {{field.label}}
  </label>

  <select
    *ngIf="field.type === 'select'"
    id="field.id"
    name="field.name"
    [formControl]="form.controls[field.name]">
    <option *ngFor="let option of field.options" [value]="option">{{option}}</option>
  </select>

  <textarea
    *ngIf="field.type === 'textarea'"
    id="{{field.id}}"
    placeholder="{{field.placeholder}}"
    [formControl]="form.controls[field.name]">
  </textarea>

  <input
    *ngIf="field.type === 'text'"
    type="{{field.type}}"
    id="{{field.id}}"
    placeholder="{{field.placeholder}}"
    [formControl]="form.controls[field.name]" />

  <p *ngIf="form.controls[field.name].errors">This field has errors...</p>
  <p *ngIf="form.controls[field.name].hasError('required') && form.controls[field.name].touched">This field is required</p>
  <!-- <p *ngIf="form.controls[field.name].hasError('minLength') && form.controls[field.name].touched">This field has a minimum length of {{field.validators.find(validator => validator.type === 'minLength').value}}</p> -->

  <!-- TODO: Add function-based values for select -->
  <!-- TODO: Allow custom field/component injection? -->
</div>
