<h1>
  {{title}}
</h1>

<!-- Tab / Multipage Component (needed) -->

<!-- Form Component (needed) -->
<form [formGroup]="form"
  (ngSubmit)="onSubmit(form)">

  <!-- Section Component (needed) -->

  <!-- Informational / Tooltip Component (needed) -->
  <!-- Field/Input Component (needed) -->
  <field
    *ngFor="let field of schema.fields"
    [field]="field"
    [form]="form">
  </field>

  <p>Form value: {{ form.value | json }}</p>
  <p>Form status: {{ form.status | json }}</p>

  <button type="submit">Submit</button>

</form>

<router-outlet></router-outlet>
