<div class="container">

  <!-- Move into routes -->
  <h1>
    {{title}}
  </h1>

  <!-- Tab / Multipage Component (needed) -->

  <!-- Form Component (needed) -->
  <form [formGroup]="form"
    (ngSubmit)="onSubmit(form)"
    novalidate>

    <sf-step
      [fields]="schema.fields"
      [form]="form">
    </sf-step>

    <!-- <sf-section
      [fields]="schema.fields"
      [form]="form">
    </sf-section> -->

    <p>Form value: {{ form.value | json }}</p>
    <p>Form status: {{ form.status | json }}</p>

    <button class="btn btn-primary" type="submit">Submit</button>

  </form>

  <router-outlet></router-outlet>

</div>
